gym
gymnasium[atari,accept-rom-license]
jax-jumpy==1.0.0 ; python_version >= "3.8" and python_version < "3.11"
matplotlib
moviepy
numpy
pandas
protobuf
pygame
stable-baselines3
tqdm
wandb
torchrl-nightly
tensordict-nightly
tyro
